body{
  margin: 100px;
}

.model{
  width: 600px;
  /* margin: 30px auto; */
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  display: block;
  border: 1px solid red;
  padding: 20px 20px 20px 20px;
  font-size: 25px;
}

.campo1{
display: block;
}

.resultado{
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  display: block;
  border: 1px solid yellow;
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;

  
}

